strong {
	font-weight: $bold;
}

h1 {
	width: $wLogo;
	margin-top: 20px;
	padding: 0;
	float: left;
	@include animacao;

	a {
		img {
			width: 100%;
			@include animacao;
		}

		&:hover {
			img {
				opacity: .5;
			}
		}
	}

	@media all and (max-width: 1100px) {
		max-width: 180px;
		padding: 25px 0 15px;
	}
}

h2 {
	font-size: 1.125rem;
	font-weight: $bold;
	display: block;
	color: $azul;
	padding-bottom: 10px;
	border-bottom: 2px solid $cinza;
	position: relative;
	text-transform: uppercase;

	a {
		color: $azul;

		&:hover {
			opacity: .5;
		}
	}

	span {
		color: $azul;
		font-size: .75rem;
		position: relative;
		top: -2px;

		i {
			color: darken($cinza, 10%);
			position: relative;
			font-size: 1rem !important;
			padding: 0 10px 0 8px;
			top: 1px;
		}

		div {
			display: inline-block;
			color: $azul;
		}
	}

	.logOff {
		float: right;	

		color: $azul;
		font-size: .75rem;
		position: relative;
		top: -2px;

		i {
			color: $azul;
			position: relative;
			font-size: 1rem !important;
			padding: 0 10px 0 8px;
			top: 1px;
		}
	}

	&:after {
		content: '';
		height: 2px;
		background-color: $azul;
		width: 80px;
		position: absolute;
		bottom: -2px;
		left: 0;
	}

	&.no-border-active {
		&:after {
			display: none;
		}
	}
}

h3 {
	font-size: 2.5rem;
	font-weight: $bold;
	display: block;
	color: $azul-escuro;

	p {
		font-size: 2.5rem;
		font-weight: $bold;
		display: block;
		color: $azul;
	}
}

h4 {
	font-size: .812rem;
	line-height: 1.125rem;
	font-weight: $bold;
	color: $azul;
}

h5 {
	font-size: 1.225rem;
	display: block;
	color: #000000;

	a {
		color: #000000;
		@include animacao;

		&:hover {
			text-decoration: none;
			color: $cinza-escuro;
		}
	}
}

p {
	font-size: $font-size;
	line-height: $font-size+.4;
	font-weight: $regular;
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0px;
	}

	&.mini {
		font-size: 1rem;
		line-height: 1.25rem;
	}

	&.justify {
		text-align: justify-center;
	}

	&.center {
		text-align: center;
	}

	&.justify.center { 
		text-align: justify;  
		-moz-text-align-last: center;
		text-align-last: center;
	}

	@media all and (max-width: 770px){
		font-size: 1.25rem;
		line-height: (1.25rem)+.5;
	}
}

a {
	@include animacao;

	&.leia-mais {
		float: left;
		color: $vermelho;
		line-height: 30px;
		text-decoration: none;
		@include animacao;

		i {
			display: inline-block;
			margin-right: 3px;
			color: $vermelho;
			@include animacao;
		}

		&:hover {
			text-decoration: none!important;
			color: darken($vermelho, 20%);

			i {
				color: darken($vermelho, 20%);
			}
		}
	}
	
	&:hover {
		text-decoration: none!important;
	}
}

.center {
	text-align: center;
}

.no-margim {
	margin: 0!important;
}

.azul {
	color: $azul!important;
}

.azul-petroleo {
	color: $azul-petroleo!important;
}

.table {
	
}

.table-responsive {
	
}