.box-comofunciona {
	.ico-comofunciona {
		margin-top: 55px;

		img {
			display: block;
			margin: 0 auto 30px;
		}

		h4 {
			//max-width: 300px;
		}

		p {
			//max-width: 300px;
			display: block;
			margin-top: 20px;
		}
	}

	.metodologia {
		h2 {
			margin-bottom: 45px;
			font-size: 3.5rem;
		}

		h4 {
			color: $cor-txt;
		}

		p {
			font-size: ($font-size+.6);
			line-height: ($font-size+.6)+.3;
			margin-bottom: 35px;
		}
	}
}

.startups, .na-midia {
	margin-top: 50px;

	.item {
		@include animacao;

		img {
			width: auto;
			display: block;
			margin: 0 auto;
			max-width: 230px;
		}

		&.list-na-midia {
			.cont-list {
				h4 {
					margin-bottom: 10px;
				}
			}
		}
	}

	.item:not(.list-na-midia) {
		&:hover {
			opacity: .5;
		}
	}

	.owl-dots {
		margin-top: 50px;
		text-align: center;

		.owl-dot {
			width: 28px;
			height: 28px;
			margin: 0 15px;
			background-color: $cinza-escuro;
			border-radius: 50%;
			display: inline-block;
			@include animacao;

			&.active {
				background-color: $azul-escuro;
			}
		}
	}
}

.list-portfolio {
	margin-bottom: 100px;
	text-align: center;

	.img-portfolio, .img-equipe, .border-img {
		display: block;
		margin: 0 auto;
	}

	.border-img {
		border: 2px solid $azul-escuro;
		border-radius: 50%;
		overflow: hidden;
		width: 180px;
		height: 180px;
		margin: 0 auto;
		display: block;

		img {
			min-width: 180px;
			min-height: 180px;
		}
	}

	.img-equipe {

	}

	h5 {
		margin-top: 20px;
	}

	p {
		font-weight: $light;
		font-size: 1.125rem;
		line-height: 1.225rem;
		margin-top: 10px;
		height: 62px;
		overflow: hidden;
	}

	.ico-link {
		margin-top: 30px;
		display: block;

		a {
			display: inline-block;
			margin: 0 7px;
			@include animacao;

			&:hover {
				opacity: .5;
			}
		}
	}

	&.list-vagas {
		h5 {
			margin: 0;
		}

		p {
			height: auto;
			text-align: left;
		}
	}
}

.img-home-sobre {
	@media all and (max-width: 750px) {
		max-width: 80% !important;
		display: block;
		margin: 20px auto;
	}
}

.categoria-prod-home {
	li {
		border-left: 1px solid $cinza;

		a {
			margin-left: 10px;
			&:hover {
				color: $amarelo;
			}
		}

		&:first-child, &:nth-child(3n+1) {
			border: none;
		}
	}
}

.central-vendas, .trabalhe-conosco {
	img {
		margin-top: 20px;
	}
}

.cartao-bndes {
	margin-top: 40px;

	img {
		margin-top: 30px;
	}

	.itens-caracteristica {
		margin: 30px 0 0px;

		li {
			line-height: 1.125rem;
			font-size: 1.125rem;
			margin-bottom: 11px;

			i {
				float: left;
				width: 15px;
				font-size: 1.3rem;
				position: relative;
				top: -1px;
			}
		}
	}

	a {
		margin-top: 10px;
	}

	p {
		margin: 20px 0 0 0;
	}
}

.page {
	.cartao-bndes {
		margin-top: 0px;
	}
}

.result-busca {
	margin-bottom: 40px;

	&:nth-child(2n+1){
		@include clear;
	}

	.border {
		border-bottom: 1px solid $cinza;
		padding-bottom: 20px;
		overflow: hidden;
	}

	img {
		margin-bottom: 10px;
	}

	h4 {
		margin-bottom: 5px;
	}

	h4, p, .content-txt {
		padding: 0 15px!important;
	}

	&.produto {
		.item-produto {
			margin-top: 0!important;
		}
	}
}


.maps-filiais {
	margin-top: 50px;

	iframe {
		width: 100%;
		height: 200px;
	}

	h2 {
		margin-bottom: 30px;
	}
}

.nossa-equipe {
	margin-top: 50px;
}